@mixin five-up-desktop{
	@include media($desktop) {
		@include span-columns(5); 
		@include omega(3n);
	} 

	@include media($tablet){
		@include span-columns(4);
		@include omega(2n);
	}
	@include media($mobile){
		@include span-columns(2);
		@include omega(2n);
	}
}

@mixin font-size($sizeValue: 16){
    font-size: $sizeValue + px;
    font-size: ($sizeValue/16) + rem;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
