html{
	   overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}
html, body{
    position:relative;
    height: 100%;
   // overflow-x:hidden;
}

body{
	
}
img{
    max-width: 100%;
    height: auto;
}

a > svg, a > span {
	pointer-events: none;
}

.hide {
    display: none !important;
}
.wrapper{
	height: inherit;
}


.result-advise-list{
    
    li{
        display: table;
        font-family: $heading-font;
        text-transform: uppercase;
        color: $white;
        margin-top: 1em;
        height: 25px;
        span{
            display: inline-block;
            vertical-align: middle;
            line-height: 1em;
            padding-right: 10px;
        }
        span.icon{    
            display: table-cell;
            vertical-align: middle;
            background-position: center center;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            display: inline-block;
        }
        span.icon-pop{
            background-image: url(../images/result/pop.svg);
        }
        span.icon-klassiek{
            background-image: url(../images/result/klassiek.svg);
        }
        span.icon-jazzrnb{
            background-image: url(../images/result/jazzy-r&b.svg);
        }
        span.icon-nl{
            background-image: url(../images/result/nederlandstalig.svg);
        }
        span.icon-rock{
            background-image: url(../images/result/rock.svg);
        }
        span.icon-souljazz{
            background-image: url(../images/result/soul-jazz.svg);
        }
        span.icon-pop{
            background-image: url(../images/result/pop.svg);
        }
    }
    li:first-child{
        margin-top: 0;
       // font-family: $heading-font-bold;
    }
}
