html, body{
    position:relative;
    height: 100%;
   // overflow-x:hidden;
}

body{
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-attachment: fixed !important;
}
img{
    max-width: 100%;
    height: auto;
}

a > svg, a > span {
	pointer-events: none;
}

.hide {
    display: none !important;
}
.wrapper{
	height: inherit;
}
