html{
	overflow-x:hidden;
	body{
		background: url(../images/bg/bg1.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
html, body{
    position:relative;
    height: 100%;
}


img{
    max-width: 100%;
    height: auto;
}

a > svg, a > span {
	//pointer-events: none;
}

.hide {
    display: none !important;
}
.wrapper{
	height: inherit;
}
