@media screen\0 { 
	.quiz {
		.block.qtype2 {
			display:block;

			.q__item--text{
				display:block;
			}
		}


		.q2h{
			a.q__item{
				min-height: auto;
				@include media($tablet) {
					min-height: 56px;
				}
				@include media($desktop) {
					min-height: auto;
				}
			}	
		}
		.q3h{
			a.q__item{
				min-height: auto;
				@include media($tablet) {

					min-height: 130px;
				}
				@include media($desktop) {
					min-height: 92px;
				}
			}	
		}

		.q5h{
			a.q__item{
				min-height: auto;
				@include media($tablet) {
					min-height: 92px;
				}
				@include media($desktop) {
					min-height: 75px;
				}
			}	
		}
		.q8h{
			a.q__item{
				min-height: auto;
				@include media($tablet) {
					min-height: 74px;
				}
				@include media($desktop) {
					min-height: 56px;
				}
			}	
		}
	}
}