body #background-container{
    position: fixed;
    width: 100%;
    height: inherit;
    top:0;
    bottom:0;

    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-attachment: fixed;
}


div.container {
	
	//@include outer-container();
	position: relative;
	/*
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
*/
 	overflow:hidden;
 	width: 100%;
	max-width: 100% !important;
	z-index:1;
	
}


.fill-height-vcenter{
	display: table;
    width: 100%;
}
.fill-height-vcenter-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 80px 20px 55px;
    @include media($desktop) {
		padding: 80px 0 55px;  
	}
}

.container_inner{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.blockfooter{
	font-family: $heading-font;
	text-transform: uppercase;
	color: $white;
	font-size: 10px;
	margin-top: 10px;
	a{
		color: $white;
		font-family: $heading-font-bold;
		&:hover{
			color: $orange;
		}
	}
}