html{
	body{
		background: url(../images/bg/bg5.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
div.container {
	
	@include outer-container();
	max-width: 960px;

	

	.main{
		@include clearfix;
		margin: 20px;
		position: relative;
		
		top: 60px;
		bottom: 35px;
		background: transparent;

		.main__block{
			background: $white;

			.main__title{
				font-family: $base-font-family;
				@include font-size(24);
				color: $green;
				text-align: center;
				padding: 19px;
				font-weight: normal;
			}
			.main-quiz-vis{
				position:relative;
				width: 95%;
				margin: 0 auto;
				display: block;
				bottom: -10px;
			}
			p{
				padding: 20px;
				@include font-size(13);
			}
			p:first-child{
				padding-top: 40px;
			}
			p:last-child{
				padding-bottom: 40px;
			}
			button.pill-btn{
				display: block;
				margin: 2em auto;
			}

		}
		.main__block.mint{
			background: $light-green;
		}
	}
	.main.bg-filled{
		background: $white;
	}
}
