html{
	body{
		background: url(../images/bg/bg5.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
div.container {
	
	@include outer-container();
	max-width: 960px;
	position: relative;
	

	.main{
		position: relative;
		margin: 20px 20px 55px 20px;
		position: relative;
		
		top: 60px;
		bottom: 35px;
		background: transparent;
		
		@include media($desktop) {
			margin: 20px 0 55px 0;
		}
	}

}
