#main-nav{
	float: right;
	li{
		float:left;
		margin-left: 1em;
		a{
			color: $black;
			font-family: $heading-font-bold;
			font-size: 13px;
			text-transform: uppercase;
		}
	}
	@include media($mobile) {
		display:none;
	}
	@include media($tablet) {
		display:none;
	}
}
#main-nav-mobile{

	top: -180px;
	position: fixed;
	
	width: 100%;
	z-index:98;
	li{
		height: 60px;
		width: 100%;
		background: $green;
		margin-top: 1px;
		a{
			font-family: $heading-font-bold;
			text-transform: uppercase;
			font-size: 13px;
			color: #fff;
			width: 100%;
			height: inherit;
			background: $green;
			padding: 20px;
			display: block;
		}
		a:hover{
			background: $action-color;
		}
	}
	@include media($desktop) {
		display:none;
	}
}