.quiz{
	background: $white;
	@include clearfix;
	
	.block {
		background: $white;
		padding: 20px 20px 0 20px;
		@include clearfix;
		text-align: left;
		position:relative;
		.block__text{
			margin: 10px 0;
			@include font-size(14);
			text-align: left;
			@include media($tablet) {
				@include font-size(14);
			}
		}
		
		.quiz__sheet--title {
			font-family: $base-font-family;
			@include font-size(24);
			color: $green;
			text-align: center;
			font-weight: normal;
			
		}
		.quiz__sheet--subtitle {
			font-family: $heading-font-bold;
			text-transform: uppercase;
			@include font-size(18);
			color: $dark-blue;
			
			

			font-weight: normal;
			margin:0;
			
			span.mint{
				color: $green;
			}
		}
		.main-quiz-vis {
			position:relative;
			width: 92%;
			margin: 0 auto;
			display: block;
			bottom: -10px;
			z-index: 1;
		}
		p {
			@include font-size(14);
			&:first-child{
				padding-top: 40px;
			}
			&:last-child{
				//padding-bottom: 40px;
			}	
			@include media($desktop) {
				@include font-size(14);
			}
		}
		
		
		button.pill-btn {
			display: block;
			span.txt-extra{
				@include media($mobile) {
					display:none;
				}
			}
			
		}

		button.quiz__nav--start {
			margin: 0 auto 20px;
			padding: $small-spacing 3em;
			@include font-size(12);
		}
		button.quiz__nav--prev{
			float: left;
			margin-bottom: 20px;
			padding: $small-spacing 1.6em;
			span{
				padding-right: 2px;
			}
			i{
				padding: 0 4px 0 2px;
				line-height: 1;
				font-size: 1.4em;
			}
		}
		button.quiz__nav--next{
			display:none;
			float: right;
			margin-bottom: 20px;
			padding: $small-spacing 1.6em;
			span{
				padding-left: 2px;
			}
			i{
				padding: 0 2px 0 4px;
				line-height: 1;
				font-size: 1.4em;
			}
		}
	}

	.block.start{
		padding:0;
		.quiz__start--title{
			font-family: $base-font-family;
			@include font-size(29);
			color: $green;
			padding: 25px 19px;
			margin:0;
			text-align: center;
			font-weight: normal;
			@include media($tablet) {
				@include font-size(34);
			}
		}
	}
	
	.block.qtype1 {
		a.q__item{
			display: block;
			color: $dark-blue;
			position: relative;
			margin-bottom: 20px;

			.q__item--overlay{	
				position: absolute;
				width: 100%;
				height: 100%;
				background: $orange;
				opacity: 0;
				transition: opacity $base-duration $base-timing;
			}
			.q__image--image{
				display: block;
			}
			.q__item--text{
				position: relative;
				font-family: $heading-font;
				text-transform: uppercase;
				@include font-size(14);
				text-align: center;
				padding-top: 10px;
				span{
					font-family: $heading-font-bold;
				}
				background: $white;
				z-index: 1;
			}

			@include media($desktop) {
				@include span-columns(5); 
				@include omega(3n);
			} 

			@include media($tablet) {
				@include span-columns(4);
				@include omega(2n);
			}
			@include media($mobile) {
				@include span-columns(4);
				@include omega(1n);
			}

			&:hover{
				.q__item--overlay{
					opacity: 0.3;
				}
				.q__item--text{
					color: $orange;
				}
			}
			&.active{
			.q__item--overlay{
					opacity: 0.7;
				}
				.q__item--text{
					color: $orange;
					font-family: $heading-font-bold !important;
				}
			}
		}
	}
	.block.qtype2 {
		@include display(flex);
		@include flex-wrap(wrap);
		a.q__item{
			//@include display(flex);
			.q__item--text{
				font-family: $heading-font;
				text-transform: uppercase;
				text-align: left;
				font-size: 12px;
				padding: 10px;
				color: $dark-blue;				
				//@include display(flex);
				@include flex-direction(column);
				@include clearfix;
				.label{
					font-family: $heading-font-bold;
					float: left;
					width: 7%;
				}
				.value{
					float: left;
					width: 90%;
				}
			}
			margin-bottom: 10px;
			background: $light-gray;
			transition: background-color $base-duration $base-timing;

			@include media($desktop) {
				@include span-columns(7.5); 
				@include omega(2n);
			} 

			@include media($tablet) {
				@include span-columns(4);
				@include omega(2n);
			}
			@include media($mobile) {
				@include span-columns(4);
				@include omega(1n);
			}

			&:hover, &.active{
				background: $orange;
				.q__item--text{
					color: $white;
				}
			}	
		}
	}
	/*
	.block.q2h{
		a.q__item{
			min-height: auto;
			@include media($tablet) {
				min-height: 56px;
			}
			@include media($desktop) {
				min-height: auto;
			}
		}	
	}
	.block.q3h{
		a.q__item{
			min-height: auto;
			@include media($tablet) {
				min-height: 130px;
			}
			@include media($desktop) {
				min-height: 92px;
			}
		}	
	}

	.block.q5h{
		a.q__item{
			min-height: auto;
			@include media($tablet) {
				min-height: 92px;
			}
			@include media($desktop) {
				min-height: 75px;
			}
		}	
	}
	.block.q8h{
		a.q__item{
			min-height: auto;
			@include media($tablet) {
				min-height: 74px;
			}
			@include media($desktop) {
				min-height: 56px;
			}
		}	
	}
	*/

	.block.mint{
		background: $light-green;
	}
	

	.quiz__result{
		background: transparent;
		.block{
			margin-bottom: 20px;
			padding: 20px;
			.quiz__sheet--title{
				text-align: left;
			}
			.quiz__sheet--subtitle {
				padding:0;
			}
			.quiz__sheet--subtitle.green{
				color: $green;
			}
			.quiz__sheet--subtitle.orange{
				color: $orange;
			}

			.answer-output-text{
				h2{
					color: $green;
					text-transform: uppercase;
					@include font-size(18);
					margin:0;
				}
				p{
					margin:0;
				}

			}
		}
		.block.green{
			padding: 20px 20px 0 20px;
			background: $green;
			color: $white;
			position:relative;
			@include clearfix;

			.quiz__sheet--title{
				color: $white;	
				font-family: $heading-font-bold;
				text-transform: uppercase;
			}
			img{
				width: 100%;
			}
			.block-inner{
				@include clearfix;
				width: 100%;
				.other-matches{
					font-family: $heading-font-bold;
					text-transform: uppercase;
					@include font-size(12);
					display: inline-block;
				}
				@include media($mobile) {
					margin-top: 20px;
				}

				ul.result-advise-list{
    
			    li{
			        display: table;
			        font-family: $heading-font;
			        text-transform: uppercase;
			        color: $white;
			        margin-top: 1em;
			        height: 25px;
			        span{
			            display: inline-block;
			            vertical-align: middle;
			            line-height: 1em;
			            padding-right: 10px;
			        }
			        span.icon{    
			            display: table-cell;
			            vertical-align: middle;
			            background-position: center center;
			            background-repeat: no-repeat;
			            width: 25px;
			            height: 25px;
			            display: inline-block;
			        }
			        span.icon-pop{
			            background-image: url(../images/result/pop.svg);
			        }
			        span.icon-klassiek{
			            background-image: url(../images/result/klassiek.svg);
			        }
			        span.icon-jazzrnb{
			            background-image: url(../images/result/jazzy-r&b.svg);
			        }
			        span.icon-nl{
			            background-image: url(../images/result/nederlandstalig.svg);
			        }
			        span.icon-rock{
			            background-image: url(../images/result/rock.svg);
			        }
			        span.icon-souljazz{
			            background-image: url(../images/result/soul-jazz.svg);
			        }
			        span.icon-pop{
			            background-image: url(../images/result/pop.svg);
			        }
			    }
			    
			}
				
			}
			
			
			.quiz__sheet--subtitle {
				color: $white;
				text-align: left;
			}
			.result-music-icon{
				margin: -20px 0 0 10px;
				max-width: 30px;
				max-height: 30px;
				
			}
			&:after{
				width: 0; 
				height: 0; 
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-top: 20px solid $green;
				position: relative;
				margin: 0 auto;
				top: 15px;
			}
			@include media($desktop) {
				img{
					width: 40%;
				}
				.block-inner{
					width: 55%;
					float:right;
				}
			} 

			@include media($tablet) {
				img{
					width: 40%;
				}
				.block-inner{
					width: 55%;
					float:right;

				}
			}
			.result-form{

			}

			
		}


		.newsletter-subscribe-form, .result-form {
			@include clearfix;
			margin: 30px 0;

			.email-txt, .result-txt {

				border-radius: 1.8em;
				padding: 13px 20px;
				font-family: $heading-font-bold;
				text-transform: uppercase;
				@include font-size(12);
				border-color: $black;
				width: 100%;
				float: left;
				color: $black;
				
				@include placeholder {
    				color: $dark-gray;
  				}
  				@include media($tablet) {
  					width: 100%;
  					margin: 0 0 10px 0;
  				}
  				@include media($desktop) {
  					width: 71%;
  					
  				}
			}
			
			.send-form{
				//float: right;
				
				width: auto;
				margin: 0 0 10px 0;
				padding: $small-spacing 2.2em;
				float: right;
				@include media($tablet) {
					padding: $small-spacing 1.8em;
				}
				@include media($desktop) {
					width: 27%;
					padding: $small-spacing 1.2em;
  				}

			}
			label{
				clear: both;
				font-style: italic;
				font-size: 0.9em;
				margin-left: 10px;
				color: $green;
				
				&.error{
					color: red;
				}
			}

		}
		.result-form{
			margin: 20px 0 0;
			label{
				color:$white;
				&.error{
					color: red;
				}
			}
		}
		.extra-info-wrap{
			width: 70%;
			float: left;
			
			@include media($mobile) {
				float: none;
				width: 100%;
			}

		}
		.social-wrap{
			text-align: center;
			width: 25%;
			float: right;
			.quiz__sheet--subtitle{
				text-align: center;
				@include media($mobile) {
					text-align: left;
				}
			}

			@include media($mobile) {
				float:none;
				width: auto;
				text-align: left;
				margin-top: 20px;
			}
			.icon-social{

				margin: 2px 7px 0 7px;
				@include media($mobile) {
					margin: 0;
				}
				svg{
					width:25px;
					height:25px;
				}
				&:hover{
					svg{
						path{
							fill:$orange;
						}
					}
				}
			}
		}
		a.quiz__nav--email {
			margin: 20px auto 0;
			max-width: 174px;
			clear:both;
			@include media($tablet){
				margin: 32px auto 0;
			}
			display: block;
		}
	}
}


.quiz.nobg{
	background: transparent;
}