@include font-face('breeserif','../fonts/breeserif-regular-webfont');
@include font-face('textA','../fonts/texta-webfont');
@include font-face('textABold','../fonts/texta-black-webfont');

// Typography
$heading-font: 'textA', Helvetica, Arial, sans-serif;
$heading-font-bold: 'textABold', Helvetica, Arial, sans-serif;
$base-font-family: 'breeserif', Helvetica, Arial, sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-border-radius-btn: 1.8em;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #fff;
$black: #000;
$orange: #f6901e;
$green: #3db791;
$light-green: #D2EADD;
$dark-gray: #414141;
$dark-blue: #2B3A49;
$medium-gray: #999;
$light-gray: #d9d9d9;
$red: #FF0000;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $orange;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
